$color-dark: #414347;
$color-light: #CED4E0;
$color-primary: #5C6E94;
$color-secondary: #888C94;

$theme-colors: ("primary": $color-primary,
  "secondary": $color-secondary,
  "dark": $color-dark,
  "light": $color-light);

.hero {
  &-image {

    &>img {
      block-size: 90%;
      inline-size: 90%;
    }
}
}

.logos {
  block-size: 40px;
}

@media (max-width: 576px) {

  .card {
    block-size: 450px;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap";