$color-primary-bg: #DAE6F7;
$color-secondary-bg: #BAC0E0;

// $color-btn: #424963;
// $color-btn-hover: #686E8B;


.head {
  background-color: $color-secondary-bg;
}

.hero {
  background-color: $color-primary-bg;
}

.foot {
  block-size: 25px;
  background-color: $color-secondary-bg;
}

.logos {
  block-size: 40px;
}

.card {
  block-size: 450px;
  max-block-size: 450px;

  &-body {
    background-color: $color-secondary-bg;
  }

  &-image {
    block-size: 200px;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap";