body {
  background-color: grey;
}

.container-fluid {
  border: 1px solid lightpink;
}

.bg-link {
  background-color: lightblue;
}

.logos {
  block-size: 50px;
}

.foot {
  margin-top: 10px;
}

@import "../node_modules/bootstrap/scss/bootstrap";